*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root{
    --main-color:#a9e7e2;
    --bg-color:#ffffff;
    --shadow-color:rgba(0,0,0,.6);
    --black-color:#000;
    --text-color:#000000;
    --background:#c0bebe;
}


.dark-mode {
    --black-color:#fff;
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
    --shadow-color:rgba(155, 244, 246, 0.523);
}


::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    color: var(--main-color);
}

.container{
    width: 100%;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--bg-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-top: 1rem;
    background: transparent;
    transition: 0.5s;
}

.header1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-top: 0rem;
    background: transparent;
    transition: 0.5s;
    background-color: var(--main-color);
}

.img_logo{
    width: 9rem;
    height: 9rem;
    padding: 1rem;
    margin-top: 1.4rem;
    margin-right: 1.5rem;
    margin-left: -4rem;
}

#darkMode-icon{
    font-size: 1.3rem;
    color: rgb(7, 37, 102);
    cursor: pointer;
    margin-right: -4rem;
    margin-left: -.5rem;
}

#darkMode-icon:hover{
    color: #fff;
}

.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    pointer-events: none;
    cursor: default;
    margin-right: auto;
    text-decoration: none;
}

.logo .span1{
    font-size: 2.5rem;
    color: #6eff92;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.logo .span2{
    font-size: 2.5rem;
    color: #0080ff;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.logo .span3{
    font-size: 2.5rem;
    color: #dcd500;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.logo .span4{
    font-size: 2.5rem;
    color: #fe42db;
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    margin-right: 3.4rem;
    position: relative;
}
.header .navbar a{
    font-size: 1rem;
    color: rgb(7, 37, 102);
    font-weight: 700;
    margin-right: 3.4rem;
    position: relative;
}
.header .navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--black-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.header .navbar a:hover::after{
    width: 100%;
}

.navbar1 a{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    margin-right: 3.4rem;
    position: relative;
}
.header1 .navbar1 a{
    font-size: 1rem;
    color: rgb(7, 37, 102);
    font-weight: 700;
    margin-right: 3.4rem;
    position: relative;
}
.header1 .navbar1 a::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--black-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.header1 .navbar1 a:hover::after{
    width: 100%;
}

.colorbox{
    background: var(--main-color);
    width: 88rem;
    height: 70rem;
    float: right;
    transform: rotateZ(60deg);
    margin-top:-16rem;
    margin-right: -37rem;
    box-shadow: 2rem 1.2rem 3rem var(--shadow-color);
}

.content{
    float:left;
    width: 40%;
    height: 20rem;
    margin-top: 25rem;
    margin-left: 3rem;
}

.content h1{
    pointer-events: none;
    display: flex;
    align-items: center;
    margin-top: -11rem;
    margin-left: 2rem;
    font-size: 5.5rem;
    color: var(--main-color);
    text-decoration: underline var(--main-color);
}

.content h1 span{
    color: var(--text-color);
    margin-left: 0rem;
}

.content .btn{
    display: inline-block;
    background-color:transparent;
    border: 5px solid var(--main-color);
    width:11rem;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 4rem;
    box-shadow: 0 0 1.5rem var(--main-color);
}

.inline-btn{
    display: inline-block;
    background-color:transparent;
    border: 5px solid white;
    width:11rem;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 4rem;
    box-shadow: 0 0 1.5rem var(--main-color);
}

.content .btn:hover{
    background-color: var(--main-color);
    transition: 0.5s ease;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
}

.change-text h3{
    margin: 0;
    display: inline-flex;
    vertical-align: top;
    color: var(--text-color);
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    color: var(--main-color);
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
    color: var(--main-color);
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
    color: var(--main-color);
}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;
    color: var(--main-color);
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
    color: var(--main-color);
}

.social-media a{
    display: inline-flex;
    text-shadow: 0 0 2rem var(--main-color);
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--main-color);
    color: var(--main-color);
    margin:2.5rem 1.5rem 3rem 2rem ;
    text-decoration: none;
    transition: .5s ease;
    font-size: 15px;
}
.social-media a i{
    font-size: 2rem;
}

.social-media a i:hover{
    font-size: 2rem;
    color: white;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.content button{
    margin-top: -2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color);
}

.content button:hover{
    color: white;
}

.content p{
    font-size: 1.6rem;
    line-height: 1.4;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    color: var(--text-color);
}


.colorbox .bird{
    margin-top: 33rem;
    transform: rotateZ(-60deg);
    margin-left: 27rem;
}

.colorbox h3{
    margin-top: -21rem;
    margin-left: 41rem;
    padding: 3rem;
    pointer-events: none;
    text-decoration: underline white;
    transform: rotateZ(-60deg);
    font-size: 1.7rem;
    cursor: none;
    color: white;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 20rem;
}

.about .row .image img{
    width: 100%;
    height: 35rem;
    margin-top: 7rem;
}

.about .row .image {
    width: 100%;
    height: 50rem;
}

.about .row .content{
    flex: 1 1 40rem;
    text-align: center;
    margin-top: -10rem;
}

.about .row .content h3{
    font-size: 2.5rem;
    color: var(--text-color);
}

.about .row .content h3 span{
    color: var(--main-color);
    margin-right: 1rem;
}

.about .row .content a .main{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.about .row .content p{
    line-height: 2;
    margin-right: 2rem;
    font-size: 1.7rem;
    color: var(--black-color);
    padding: 1.5rem 0;

}

.about .box-container{
    margin-top: -5rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about .box-container .box:hover{
    background: transparent;
    border: 7px solid var(--main-color);
    transform: scaleY(1.2);
}

.about .box-container .box{
    display: flex;
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: 1.5rem;
    align-items: center;
    flex: 1 1 20rem;
    gap: 2.5rem;
    box-shadow: 0 0 2rem var(--shadow-color);
}

.about .box-container .box i{
    font-size: 3rem;
    color: var(--black-color);
}

.about .box-container .box h3{
    color: #aeefcf;
    font-size: 2.5rem;
    margin-bottom: .2rem;
}

.about .box-container .box span{
    font-size: 1.6rem;
    color: var(--black-color);
}



.contact .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.contact .row .image{
    flex: 1 1 10rem;
}
.contact .row .image img{
    height: 34rem;
    margin-top: 5rem;
    width: 100%;
}
.contact .row form{
    flex: 1 1 20rem;
    background-color:var(--main-color);
    border-radius: .5rem;
    padding: 1rem;
    height: 35rem;
    margin-top: 7rem;
    text-align: center;
}
.contact .row form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black-color);
}

.contact .row form .box{
    width: 100%;
    margin: .8rem 0;
    border-radius: .5rem;
    background-color: white;
    padding:.6rem;
    color: var(--black);
    font: 1.8rem;
    box-shadow: 0 0 1.5 var(--shadow-color);
}
.contact .row textarea{
    height: 10rem;
    box-shadow: 0 0 1.5 var(--shadow-color);
    resize: none;
}

.contact .row input{
    margin-top: 1rem;
}

.contact .box-container{
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.contact .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background-color: var(--main-color);
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 1.5rem var(--shadow-color);
}
.contact .box-container .box i{
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.contact .box-container .box h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    border-bottom: 2px solid var(--text-color);
    color: var(--black);
}
.contact .box-container .box a{
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
    margin-top: .5rem;
    text-decoration: none;
}
.contact .box-container .box a:hover{
    text-decoration: underline;
    color: white;
    text-decoration: none;
}

.hoverbtn{
    display: inline-block;
    background-color:white;
    border: 5px solid black;
    width:11rem;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    height: 4rem;
    box-shadow: 0 0 1.5rem var(--main-color);
    margin-right: 0rem;
}


.hoverbtn span{
    font-size: 1.4rem;
}

.footer{
    position: sticky;
    bottom: 0; right: 0; left: 0;
    background-color: var(--main-color);
    border-top: var(--border);
    height: 10rem;
    padding:0rem 1rem;
    padding-bottom: 5rem;
    text-align: center;
    color: black;
    font-size: 1.3rem;
    margin-top: 4rem;
    z-index: 1000;
}

.footer span{
    color:white;
}

.footer .msg{
    color: var(--main-color);
}

.designwork1{
    height: 54rem;
}

.designwork .design{
    width: 100%;
}

.card{
    width: 20rem;
    height: 25rem;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 0 20px;
    padding-top: 120px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: -5rem;
    margin-left: 45px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 2px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    box-shadow: 0 0 1.5rem var(--shadow-color);
}

.card1{
    width: 20rem;
    height: 25rem;
    display: inline-block;
    border-radius: 10px;
    margin-top: 6rem;
    margin-left: 46px;
    background-color: var(--main-color);
    padding: 0 20px;
    padding-top: 120px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: -1rem;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    box-shadow: 0 0 1.5rem var(--shadow-color);
}

.cardstyle{
    width: 20rem;
    height: 25rem;
    display: inline-block;
    border-radius: 10px;
    margin-top:9rem;
    margin-left: 9rem;
    background-color: var(--main-color);
    padding: 0 20px;
    padding-top: 120px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: -1rem;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    box-shadow: 0 0 1.5rem var(--shadow-color);
}

.cardstyle:hover{
    transform: scale(1.3);
}

.card:hover{
    transform: scale(1.1);
}

.card1:hover{
    transform: scale(1.1);
}

.card h3{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: 2px solid var(--text-color);
}

.card1 h3{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 2rem;
    border-bottom: 2px solid var(--text-color);
}

.card p{
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 2rem;
}

.card1 p{
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 2rem;
}

.card1 img{
    margin-top: -5rem;
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    border: 3px solid var(--text-color);
}

.card img{
    margin-top: -5rem;
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    border: 3px solid var(--text-color);
}

.cardstyle img{
    margin-top: -5rem;
    width: 100%;
    height: 12rem;
    border-radius: 5px;
    border: 3px solid var(--text-color);
}

.cardstyle h3{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 3rem;
    border-bottom: 2px solid var(--text-color);
}

.cardstyle p{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-top: 2rem;
}

.image-container {
    position: relative;
    width: 100%;
    height: 54rem;
}
.image-container img {
    width: 100%;
    height: 54rem;
    object-fit: cover;
}


.image-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color:transparent;
    color: var(--text-color);
    padding: 10px;
    font-size: 14rem;
    text-decoration:5px underline var(--text-color);
}

.image-text span{
    color: #00fce3;
}
.form{
    background-color: var(--main-color);
    width: 30rem;
    height: 45rem;
    padding: .3rem 4rem;
    margin-top: 6rem;
    margin-left: 35rem;
    border-radius: 10px;
    box-shadow: 0 0 1.5rem var(--shadow-color);
}

.form form{
    padding: 1rem 0rem;
}

.form form h3{
    font-size: 1.3rem;
    margin-bottom: .5rem;
    margin-top: .2rem;
}

.form input{
    width: 22rem;
    height: 1.6rem;
    border-radius: 6px;
}

.form .hoverbtn{
    display: inline-block;
    background-color:rgb(155, 248, 240);
    border: 1px solid black;
    width:7em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    font-size: 1rem;
    margin-right: 1rem;
    height: 3rem;
    box-shadow: 0 0 1.5rem var(--main-color);
    margin-right: 0rem;
}

.form .hoverbtn:hover{
    background-color: transparent;
}

.form #describe{
    width: 22rem;
    align-items: center;
    height: 6rem;
    border-radius: 6px;
}

.page{
    width: 100%;
    height: 50rem;
}